<section class="flex-column main-center cross-center">
  <h2>
    Food Delivery Directly
    <br />
    To Your Door Step
  </h2>
  <!-- <form class="flex-row">

    <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
    <button>Find Chefs</button>
  </form>  -->

  <form class="search-container">
    <input type="text" id="search-bar" placeholder="Find Chefs">
    <a href="#" class="search-icon">
        <i class="fa fa-search"></i>
    </a>
  </form>
</section>
