<header role="banner">
  <!--First Header with wine background-->
  <div class="head-container">
  <div class="toolbar">
    <div class="flex-row">
      <img  alt="Delivery Van Logo" src="../../assets/food-van.png" />
      <span style="align-self: center;">Order your favourite food</span> 
    </div>
    <nav>
      <ul class="flex-row">
        <li><a routerLink="/delivery" routerLinkActive="active">Food Delivery</a></li>
        <li><a routerLink="/signin" routerLinkActive="active">Sign In</a></li>
        <li class="last"><a routerLink="/becomechef" routerLinkActive="active">Become a Chef</a></li>
      </ul>
    </nav>
  </div>
  <!--Second Header with white background-->
  <div class="flex-row sec-head" style="justify-content: space-between; z-index: 10000;">
    <ul class="flex-row second-header">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/paymentmethods" routerLinkActive="active">Payment Methods</a></li>
      <li><a routerLink="/myorders" routerLinkActive="active">My Orders</a></li>
    </ul>
    <ul>
      <li>
        <a routerLink="/cart" routerLinkActive="active">My Cart</a>
      </li>
    </ul>
  </div>
</div>
</header>
