<div class="chef-view">
<div class="chef-gallery">
 Hi from chef {{data.name}}
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Item Navigators and Thumbnails</h5>
        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5"
            [circular]="true" [showItemNavigators]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="p-grid p-nogutter p-justify-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
</div>
</div>

<h5>Item Navigators and Thumbnails</h5>
